<!DOCTYPE HTML>
<html>
<head>
    <title>My Blog</title>
</head>
<body>
    <div>
        <h1><a href="">My Blog</a></h1>
    </div>
    <div>
        <p>published: 11.5.2015, 12:12</p>
        <h2><a href="">My first post</a></h2>
        <p>Once upon a time, there was this author who loves to write.</p>
    </div>
    <div>
        <p>published: 11.5.2015, 14:23</p>
        <h2><a href="">My second post</a></h2>
        <p>The author felt betrayed as the typewriter was broken before he could ever write anything.</p>
    </div>
</body>
</html>