<!DOCTYPE HTML>
<html>
<head>
    <title>My Blog</title>
</head>
<body>
    <div>
        <h1><a href="">My Blog</a></h1>
    </div>
    <div>
{% for post in posts %}
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endfor %}
<!--     <div>
        <p>published: 11.5.2015, 14:23</p>
        <h2><a href="">My second post</a></h2>
        <p>The author felt betrayed as the typewriter was broken before he could ever write anything.</p>

        {% for post in posts %}
            {{ post }}
            <br>
        {% endfor %}    
    </div>
 --></body>
</html>